<table id="table">
</table>

<script>
    var id

    $(function () {

        var url = location.search;
        id = url.substr(1)
        console.log(id);

    });


    $('#table').datagrid({
        url: 'find/getclassscore?student_id=' + id,
        title: "学生成绩",
        singleSelect: true,
        columns: [[
            { field: 'class_id', title: '课程id', width: 100, hidden: true },
            { field: 'class_name', title: '课程名称', width: 100 },
            { field: 'teacher_id', title: '老师id', width: 100, hidden: true },
            { field: 'teacher_name', title: '老师姓名', width: 100 },
            { field: 'class_address', title: '上课地点', width: 100 },
            { field: 'class_time', title: '上课时间', width: 100 },
            { field: 'score', title: '成绩', width: 100, 
            	formatter: function (date) {
                    if (date == null) {
                        date = "成绩未出";
                    }
                    return date
                }
            }
        ]]
    });

</script>